html, body {
  color: #fff;
  background: #0e172a;
  font-size: 18px;
  font-family: Spectral;
  letter-spacing: -0.02em;
  line-height: 1.45;
}

p {
  margin: 0.8em 0;
}

a {
  border-bottom: 1px solid #fff4;
}
a:hover {
  border-bottom: 1px solid #fffc;
}
